<html lang="en"><head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://glorywebsdemo.com/themeforest/html/carveordering/images/favicon.ico" type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Home page | Order Online Fast Food &amp; Pizza</title>
    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- Fonts here-->

    <!-- Style Here -->
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/slick.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/style.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/my-account.css">
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/font-awesome.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="http://glorywebsdemo.com/themeforest/html/carveordering/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- JS -->
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/popper.min.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/jquery.min.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/bootstrap.min.js" defer=""></script>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start Here -->
        <header id="Header">
            <div class="main_header">
                <div class="top_nav sticky" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html" title="Crave Ordering"><img src="http://glorywebsdemo.com/themeforest/html/carveordering/images/logo.png" alt="Crave Ordering"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a href="/index" class="trans hvr-underline-from-left">Home</a></li>
                                            <li><a href="/login" class="trans">Login</a></li>
                                            <li><a href="/kitchen" class="trans">Cook</a></li>
                                            <li><a href="/login" class="trans">Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
             </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html" title="Crave Ordering"><img src="http://glorywebsdemo.com/themeforest/html/carveordering/images/logoBlack.png" alt="Crave Ordering"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="menu.html">Order</a></li>
                        <li><a href="kitchen.html">Cook</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login.html">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header End Here -->

        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="/" class="trans" title="Home">Home</a></li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->
        <!-- Our login section -->
        <section id="login">
            <div class="login_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_login">
                                <div class="login_left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="login_box">
                                        <h2 class="title">Contact the supplier of the snack!</h2>
                                        <form method="post" id="loginform" action="thank-you.html">
                                            <div class="login_form">
                                                <ul>
                                                    <li>
                                                        <label for="name">Name</label>
                                                        <input class="form-control owner-name" title="name" value="<%= data[0] %>" type="text" disabled>
                                                    </li>
                                                    <li>
                                                        <label for="password">Telephone</label>
                                                        <input class="form-control owner-tele" title="Telephone" value="<%= data[1] %>" disabled>
                                                    </li>
                                                    <li>
                                                        <label for="name">Email</label>
                                                        <input class="form-control owner-email" title="Email" value="<%= data[2] %>" disabled>
                                                    </li>
                                                    <li>
                                                        <label for="name">Address</label>
                                                        <input class="form-control owner-addr" title="Address" value="<%= data[3] %>" disabled>
                                                    </li>
                                                    <li>
                                                        <label for="name">Country</label>
                                                        <input class="form-control owner-country" title="Country" value="<%= data[4] %>" disabled>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our login section -->
       
        <!-- Footer Section here -->
        <footer>
            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>© <a href="http://glorywebsdemo.com/themeforest/html/carveordering/index.html" class="trans" title="Crave Ordering">Crave Ordering</a> <script type="text/javascript">document.write(new Date().getFullYear());</script>2023, All rights reserved </p>
                </div>
            </div>
        </footer>

        <!-- Footer Section here -->

    </div>
    <!-- JS Here -->
    <script src="js/main.js"></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/custome.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/slick.js" defer=""></script>
    <script src="http://glorywebsdemo.com/themeforest/html/carveordering/js/jquery.validate.min.js" defer=""></script>
    <!-- JS Here -->


</body></html>